.create-workspace-box {
    width: 700px !important;
}

.input-search {
    border-radius: 20px;
    padding-left: 15px;
}
  
.workspace-item {
    cursor: pointer;
}
  
@media (max-width: 576px) {
    .create-workspace-box {
        margin-top: .5rem;
        width: 90% !important;
    }
}