.create-box {
    justify-content: center;
    border: 2px dashed #3333;
    cursor: pointer;
}

.create-icon {
    font-size: 50px !important;
    color: #3333 !important;
}

.elevation-1 {
    box-shadow: unset !important;
}

.create-workspace-box {
  width: 700px !important;
}

.input-search {
  border-radius: 20px;
  padding-left: 15px;
}

.workspace-item {
  cursor: pointer;
}

@media (max-width: 576px) {
  .create-workspace-box {
    margin-top: .5rem;
    width: 90% !important;
  }
}

/* .create-workspace-box {
    width: 500px !important;
} */