.create-box {
    justify-content: center;
    border: 2px dashed #3333;
    cursor: pointer;
}

.create-icon {
    font-size: 50px !important;
    color: #3333 !important;
}

.elevation-1 {
    box-shadow: unset !important;
}

.create-workspace-box {
  width: 700px !important;
}

.input-search {
  border-radius: 20px;
  padding-left: 15px;
  width: 70%;
}

.workspace-item {
  cursor: pointer;
}

.create-workspace-box, .setting-workspace-box {
    width: 700px !important;
}
  
.workspace-item {
    cursor: pointer;
}

.img-banner-wp {
  width: 60%;
  height: 150px;
}

@media (max-width: 576px) {
  .create-workspace-box, .setting-workspace-box {
    width: 95% !important;
  }

  .img-banner-wp {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .input-search {
    width: 100%;
  }
}