.language-auth-box {
    top: 10px;
    left: 10px;
    transform: none;
    z-index: 20;
}

.logo-auth-box {
    top: 100px;
}

.error-message-toast {
    border-left: 3px solid #dc3545;
}

.ant-notification-notice-message {
    margin-bottom: unset !important;
}

.m-unset {
    margin: unset !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.pointer {
    cursor: pointer;
}

:where(.css-dev-only-do-not-override-tjsggz).ant-avatar >img {
    width: unset !important;
}

.lh-50 {
    line-height: 50px;
}

.w-50 {
    width: 50% !important;
}

.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.ql-container.ql-snow {
    border: unset !important;
}

.p-r-unset {
    padding-right: unset !important;
}

.ant-drawer-header {
    padding: 10px !important;
}

:where(.css-dev-only-do-not-override-tjsggz).ant-drawer {
    z-index: 1100 !important;
}

@media screen and (max-width: 768px) {
    .language-auth-box {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
    }

    .logo-auth-box {
        top: 200px;
    }    
}